<!-- Start Footer -->
{% load static %}
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pt-5">
                <div class="col-xl-auto ">
                    <img href="/" style="margin: 0;padding: 0;border: none;max-width: 100%;height: auto;"
                         src="{% static "assets/img/3e21cd04be638d2b954941fe3b006a6-e1647750515573.png" %}"
                         height="80">
                    &nbsp;&nbsp;&nbsp;

                    <a class="navbar-brand text-success logo h1 align-self-center" href="/">
                        <span style="color: #c1a45e">  SKADE LLC </span>

                    </a>
                </div>
                {#                <h2 class="h2 text-success border-bottom pb-3 border-light logo">Skade LLC</h2>#}
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        3608 COLE MILL RD, CHARLOTTE, 28270-1120
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:(980)-355-9970">(980)-355-9970</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:service@skade.us">service@skade.us</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Policy</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="/policy/#payment">Payment Policy</a></li>
                    <li><a class="text-decoration-none" href="/policy/#refund">Refund and Returns Policy</a></li>
                    <li><a class="text-decoration-none" href="/policy/#privacy">Privacy Policy</a></li>
                    <li><a class="text-decoration-none" href="/policy/#shipping">Shipping Policy</a></li>
                    <li><a class="text-decoration-none" href="/policy/#warranty">Warranty</a></li>
                </ul>
            </div>

            <div class="col-md-3 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="/about">About Us</a></li>
                    <li><a class="text-decoration-none" href="/blog">Blog</a></li>
                    <li><a class="text-decoration-none" href="/shop">Shop</a></li>
                    <li><a class="text-decoration-none" href="/contact">Contact</a></li>
                </ul>
            </div>

        </div>

        {#        <div class="row text-light mb-4">#}
        {#            <div class="col-12 mb-3">#}
        {#                <div class="w-100 my-3 border-top border-light"></div>#}
        {#            </div>#}
        {#            <div class="col-auto me-auto">#}
        {#                <ul class="list-inline text-left footer-icons">#}
        {#                    <li class="list-inline-item border border-light rounded-circle text-center">#}
        {#                        <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i#}
        {#                                class="fab fa-facebook-f fa-lg fa-fw"></i></a>#}
        {#                    </li>#}
        {#                    <li class="list-inline-item border border-light rounded-circle text-center">#}
        {#                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i#}
        {#                                class="fab fa-instagram fa-lg fa-fw"></i></a>#}
        {#                    </li>#}
        {#                    <li class="list-inline-item border border-light rounded-circle text-center">#}
        {#                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i#}
        {#                                class="fab fa-twitter fa-lg fa-fw"></i></a>#}
        {#                    </li>#}
        {#                    <li class="list-inline-item border border-light rounded-circle text-center">#}
        {#                        <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i#}
        {#                                class="fab fa-linkedin fa-lg fa-fw"></i></a>#}
        {#                    </li>#}
        {#                </ul>#}
        {#            </div>#}
        {#            <div class="col-auto">#}
        {#                <label class="sr-only" for="subscribeEmail">Email address</label>#}
        {#                <div class="input-group mb-2">#}
        {#                    <input type="text" class="form-control bg-dark border-light" id="subscribeEmail"#}
        {#                           placeholder="Email address">#}
        {#                    <div class="input-group-text btn-success text-light">Subscribe</div>#}
        {#                </div>#}
        {#            </div>#}
    </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2023 Skade LLC
                        | Designed by <a rel="sponsored" href="/" target="_blank">Skade LLC</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->