{% extends "base.html" %}

{% block content %}
    <section class="bg-light py-5">
        <div class="container">
            <h2>Order History</h2>
            <div class="row">
                <!-- Blog Entries Column -->
                <div class="col">
                    {% for object in objects %}
                        <div class="card mb-4 ">
                            <table class="table" >
                                <thead>
                                <tr >
                                    <th>ORDER #</th>
                                    <th>SHIP TO</th>
                                    <th colspan="2">ORDER PLACED</th>
                                    <th>TRACKING #</th>
                                </tr>
                                <tr>
                                    <th><p>{{ object.checkout_session|slice:"-13:" }} </p></th>
                                    <th style="width: 45%">
                                        <div>{{ object.shipping_address.first_name }} {{ object.shipping_address.last_name }}</div>
                                        <div>
                                            {{ object.shipping_address.street_address }}, {{ object.shipping_address.apartment_address }}</div>
                                        <div> {{ object.shipping_address.city }}, {{ object.shipping_address.state }} {{ object.shipping_address.zip }}</div>
                                    </th>
                                    <th colspan="2"><p>{{ object.payment.timestamp }}</p></th>

                                    <th><p>PENDING</p></th>

                                </tr>
                                <tr>
                                    <th><strong>Item</strong></th>
                                    <th><strong>Title</strong></th>
                                    <th><strong>Price</strong></th>
                                    <th><strong>Quantity</strong></th>
                                    <th></th>
                                </tr>

                                </thead>
                                <tbody>
                                {% for order_item in object.items.all %}
                                    <tr>
                                        <td>
                                            <img src="{{ order_item.item.image.url }}" width="100">
                                        </td>
                                        <td>
                                            <a href="{{ order_item.item.get_absolute_url }}">{{ order_item.item.title }}</a>
                                        </td>
                                        <td>${{ order_item.ordered_price }}</td>
                                        <td>{{ order_item.quantity }}</td>
                                        <td>
                                            <div class="col align-center">
                                                <div class="pb-2">
                                                </div>
                                                <div class="pb-4">
                                                    <a href="/product/{{ order_item.item.slug }}"
                                                       class="btn-success btn-lg px-3">Buy again
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="/product/{{ order_item.item.slug }}/#comments"
                                                       class=" btn-success btn-lg px-3">Write a review
                                                    </a>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                {% if object.coupon %}
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>Coupon:</td>
                                        <td>$-{{ object.coupon.amount }}</td>
                                    </tr>


                                {% endif %}

                                <tr>
                                    <td colspan="2"></td>
                                    <td>Subtotal:</td>
                                    <td>${{ object.get_subtotal }}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td>Tax:</td>
                                    <td>${{ object.get_totaltax }}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td>Total:</td>
                                    <td>${{ object.get_total }}</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        {% empty %}
                        <p>You have not placed any orders.</p>
                        <a href="/shop"
                           class="btn-success btn-lg px-3">Go shopping
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}


