{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
        <section class="bg-white py-5">
            <div class="container" id="warranty">
                <div class="align-items-center py-5">
                    <div class="row  text-dark">
                        <h1>Warranty</h1>
                        <p> At Skade, we are committed to providing high-quality hearing aids and exceptional customer
                            service. </p>

                        <p>Our hearing aids are covered by a warranty that protects against defects in materials and
                            workmanship.
                            Warranty Period: The warranty period for our hearing aids is <strong><span
                                    style="color: #ad1457"> 6-month from order date on your receipt</span></strong> .
                            During this time, we will repair or replace, at our
                            discretion, any defective
                            hearing aids.</p>
                        <h4>What Is Covered</h4>
                        <p>The warranty covers defects in materials and workmanship that occur during
                            normal use of the hearing aids. It does not cover damage caused by misuse, abuse, or
                            accidents, or normal wear and tear.</p>
                        <h4>What Is Not Covered</h4>
                        <p>The warranty does not cover batteries, ear molds, or other accessories.
                            It also does not cover damage caused by exposure to extreme temperatures, moisture, or
                            excessive sweat.</p>
                        <h4>How to Make a Warranty Claim</h4>
                        <p>To make a warranty claim, please contact us and provide proof
                            of purchase, a description of the defect, and any relevant photos or videos. We will
                            evaluate your claim and determine the best course of action.</p>

                        <h4>Our Obligation</h4>
                        <p>If a defect covered by the warranty is found, we will repair or replace the
                            hearing aid free of charge. If the hearing aid cannot be repaired or replaced, we will issue
                            a refund in the original form of payment.</p>
                        <h4>Limitations</h4>
                        <p>This warranty is limited to the original purchaser of the hearing aids and is
                            not transferable. It is also subject to certain limitations and exclusions as described
                            above.</p>
                        <p>We stand behind our products and are committed to ensuring your satisfaction. If you have any
                            questions or concerns about our warranty, please do not hesitate to contact us by <a
                                    href="/contact">contact-us</a> page or by email at <a
                                    href="mailto:service@skade.us">service@skade.us</a>.</p>

                    </div>
                </div>
            </div>
        </section>

        <section class="bg-dark py-5">
            <div class="container" id="refund">
                <div class="align-items-center py-5">
                    <div class="row  text-white">
                        <h1>Refund and Returns Policy</h1>
                        <p> Our refund and returns policy last 30 days. If 30 days have passed since your purchase, we
                            can’t offer you a full refund or exchange. To be eligible for a return, your item must be in
                            the same condition that you received it. It must also be in the original packaging.</p>
                        <h4>Returnable Item</h4>
                        <p>The item that can be returned/refunded or exchanged within <strong><span
                                style="color: #ad1457"> 30 days after delivery</span></strong> must
                            follow the criteria as below:</p>
                        <ul>1.Faulty items damaged/broken or soiled upon arrival.</ul>
                        <ul>2.Items received in the incorrect size/color.</ul>
                        <ul>3. No physical damage or water damage.</ul>
                        <h4>Refunds</h4>
                        <p>1. If your item meets the returnable criteria, please submit the following by <a
                                href="/contact">contact-us</a> page or
                            by email at <a href="mailto:service@skade.us">service@skade.us</a>:</p>
                        <ul> – Order number</ul>
                        <ul> – Product name</ul>
                        <ul> – Reason for return</ul>
                        <p>2. Our customer service team will respond to your request within 24-48 hours and provide you
                            with a Return Merchandise Form (RMA) along with our return address.</p>
                        <p>3. Please return the item according to our instructions on the RMA form and send us return
                            proof in the form of the tracking number and a valid return receipt.</p>
                        <p>4. Once your return is received and inspected, we will send you an email to notify you that
                            we have received your returned item. Then your refund will be processed, and a credit will
                            automatically be applied to your credit card or original method of payment, within 3-5
                            business days.</p>

                        <h4>Refunds</h4>
                        <p>If you haven’t received a refund yet, first check your bank account again.

                            Then contact your credit card company, it may take some time before your refund is
                            officially posted.

                            Next, contact your bank. There is often some processing time before a refund is posted.</p>
                        <h4>Exchanges</h4>
                        <p>You must contact us by <a
                                href="/contact">contact-us</a> page or by email at <a href="mailto:service@skade.us">service@skade.us</a>
                            and provide us with
                            the order number, product name, reason for replacement, and your shipping information. It
                            may be completed by mailing back your online return and we will ship a replacement or
                            components to you.</p>
                        <h4>Shipping returns</h4>
                        <p>All shipping fees are at the customer’s expense. This includes shipping fees for a return or
                            exchange. Shipping fees are non-refundable. If the returning is due to our reasons, the
                            goods received are broken or not correct, please take a photo and send to us, then the
                            consumer is not required to bear the shipping fee for this reason.</p>
                        <h4>Need help?</h4>
                        <p>Contact us at <a
                                href="/contact">contact-us</a> for questions related to refunds and returns.</p>
                    </div>


                </div>
            </div>
        </section>
        <section class="bg-white py-5">
            <div class="container" id="privacy">
                <div class="align-items-center py-5">
                    <div class="row  text-dark">
                        <h1>Privacy Policy</h1>
                        <h4> Who we are?</h4>
                        <p> Our website address is http://www.skade.us.</p>
                        <h4>Comments</h4>
                        <p>When visitors leave comments on the site we collect the data shown in the comments form, and
                            also the visitor’s IP address and browser user agent string to help spam detection.</p>
                        <p>An anonymized string created from your email address (also called a hash) may be provided to
                            the Gravatar service to see if you are using it. The Gravatar service privacy policy is
                            available here: <a href="/policy"> http://www.skade.us/policy/</a>. After approval of your
                            comment, your
                            profile picture is visible to the public in the context of your comment.</p>

                        <h4>Media</h4>
                        <p>If you upload images to the website, you should avoid uploading images with embedded location
                            data (EXIF GPS) included. Visitors to the website can download and extract any location data
                            from images on the website.</p>
                        <h4>Cookies</h4>
                        <p>If you leave a comment on our site you may opt-in to saving your name, email address and
                            website in cookies. These are for your convenience so that you do not have to fill in your
                            details again when you leave another comment. These cookies will last for one year.</p>
                        <p>If you visit our login page, we will set a temporary cookie to determine if your browser
                            accepts cookies. This cookie contains no personal data and is discarded when you close your
                            browser.</p>
                        <p>When you log in, we will also set up several cookies to save your login information and your
                            screen display choices. Login cookies last for two days, and screen options cookies last for
                            a year. If you select “Remember Me”, your login will persist for two weeks. If you log out
                            of your account, the login cookies will be removed.</p>
                        <p>If you edit or publish an article, an additional cookie will be saved in your browser. This
                            cookie includes no personal data and simply indicates the post ID of the article you just
                            edited. It expires after 1 day.</p>
                        <h4>Embedded content from other websites</h4>
                        <p>If you leave a comment, the comment and its metadata are retained indefinitely. This is so we
                            can recognize and approve any follow-up comments automatically instead of holding them in a
                            moderation queue.</p>
                        <p>For users that register on our website (if any), we also store the personal information they
                            provide in their user profiles. All users can see, edit, or delete their personal
                            information at any time (except they cannot change their username). Website administrators
                            can also see and edit that information.</p>
                        <h4>What rights you have over your data</h4>
                        <p>If you have an account on this site or have left comments, you can request to receive an
                            exported file of the personal data we hold about you, including any data you have provided
                            to us. You can also request that we erase any personal data we hold about you. This does not
                            include any data we are obliged to keep for administrative, legal, or security
                            purposes.</p>
                        <h4>Where we send your data</h4>
                        <p>Visitor comments may be checked through an automated spam detection service.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-dark py-5">
            <div class="container" id="shipping">
                <div class="align-items-center py-5">
                    <div class="row  text-white">
                        <h1>Shipping Policy</h1>
                        <p> Free shipping whole store for standard shipment method, for expedited, the fees will be
                            shown on the check-out page as follow rules.</p>

                        <table class="border">
                            <tbody>
                            <tr class="border">
                                <td class="border">Service</td>
                                <td class="border">Shipping Charge</td>
                                <td class="border"> Order delivered</td>
                                <td class="border">Processing Time</td>
                            </tr>
                            <tr class="border">
                                <td class="border">Standard</td>
                                <td class="border">Free shipping over $100</td>
                                <td class="border">-5 business days</td>
                                <td class="border">1-2 business days</td>
                            </tr>
                            <tr class="border">
                                <td class="border">Express</td>
                                <td class="border">$15.99</td>
                                <td class="border">1-3 business days</td>
                                <td class="border">1-2 business days</td>
                            </tr>
                            <tr class="border">
                                <td class="border">Expedite</td>
                                <td class="border">$35.99</td>
                                <td class="border">New business day after order processing</td>
                                <td class="border">Order before 11:00 am, processed the same day. Otherwise, the next
                                    business day,<br>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <p><strong>**During holiday periods, additional processing time may be required.</strong></p>
                        <p>For the below area, an extra $9.99 shipping fee will be charged.</p>

                        <ul> - Armed Forces – Americas</ul>
                        <ul> - Armed Forces – Europe/Africa/Canada</ul>
                        <ul> - Armed Forces – Pacific</ul>
                        <ul> - Federated States of Micronesia</ul>
                        <ul> - Alaska</ul>
                        <ul> - Guam</ul>
                        <ul> - Hawaii</ul>
                        <ul> - Northern Mariana Islands</ul>
                        <ul> - Puerto Rico</ul>
                        <ul> - U.S. Virgin Islands</ul>


                        <h4>Taxes & Duties</h4>
                        <p>Prices displayed on the website do not include taxes. Sales tax (where applicable) and
                            shipping charges will be calculated on the total value of the item.</p>

                        <h4>Shipping Area</h4>
                        <p>The US only</p>
                        <h4>Shipping Methods</h4>
                        <p>USPS, UPS, Amazon Logistics, DHL, FedEx, etc.</p>
                        <h4>Shipping Status</h4>
                        <p>Delivery times may be longer than usual due to severe weather or unexpected situations. We
                            will arrange the shipment as soon as the delivery industry gets back to normal.</p>

                        <h4>Redirecting An Order</h4>
                        <p>If you haven’t received a refund yet, first check your bank account again.

                            Then contact your credit card company, it may take some time before your refund is
                            officially posted.

                            Next, contact your bank. There is often some processing time before a refund is posted.</p>
                        <h4>Exchanges</h4>
                        <p>We can’t redirect orders once items have been dispatched, so please make sure your shipping
                            address is correct.</p>
                    </div>


                </div>
            </div>
        </section>
        <section class="bg-light py-5">
            <div class="container" id="payment">
                <div class="align-items-center py-5">
                    <div class="col-md-8 text-dark">
                        <h1>Payment Policy</h1>
                        <div class="row">
                            <div class="col col-lg-10">
                                <h4> Payment options</h4>
                                <p style="font-size: 50px">
                                    <strong>We accept the following payment methods:</strong>
                                <div class="row">
                                    <div class="col">
                                        <ul>- Visa</ul>
                                        <ul>- Visa debit</ul>
                                        <ul>- Mastercard</ul>
                                    </div>
                                    <div class="col">
                                        <ul>- American Express</ul>
                                        <ul>- Discover</ul>
                                        <ul>- Paypal</ul>
                                    </div>
                                </div>

                                <h4> Charging Payments</h4>
                                <p>You agree to pay the price applicable for the item in your order as of the time you
                                    submitted your order, the delivery fees for the shipping service you select, and any
                                    applicable taxes. We will automatically bill your credit card submitted as part of
                                    the order process for such amounts and you hereby authorize us to do so.</p>
                                <h4> Taxes and Duties</h4>
                                <p>Please note prices displayed on the website do not include taxes. When you proceed to
                                    purchase your order, sales tax (where applicable) will be calculated on the total
                                    value of merchandise, as well as shipping charges.</p>
                            </div>
                            <div class="col-md-2">
                                <img src="{% static "assets/img/AdobeStock_230465724.jpeg" %}" width="700" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>
{% endblock %}